
{% load static %}
<!--begin::Modal - Signaler un evenement-->
<div class="modal fade" id="kt_modal_invite_friends" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <i class="ki-duotone ki-cross fs-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->

            <!--begin::Modal body-->
            <div class="modal-body mx-5 mx-xl-18 pt-0 pb-15">
                <!--begin::Heading-->
                <div class="text-center mb-13">
                    <!--begin::Title-->
                    <h1 class="fw-bold text-gray-900 mb-9">Déclarer un évènement</h1>
                    <!--end::Title-->
                    <!--begin::Description-->
                    <div class="text-muted fw-semibold fs-5">
                        Si vous avez besoin d'aide, consultez 
                        <a href="{% url 'faq_list'%}" class="link-primary fw-bold">la page d'aide</a>.
                    </div>
                    <!--end::Description-->
                </div>
                <!--end::Heading-->

                <!--begin::Scrollable Form Container-->
                <div class="overflow-auto" style="max-height: 450px;">
                    <!--begin::Form-->
                    <form method="post" enctype="multipart/form-data" class="form mb-0" id="kt_contact_form" action="{% url 'incident_create' %}">
                        {% csrf_token %}
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-5 fv-row">
                            <label class="fs-5 fw-semibold mb-2">{{ form.name.label }}</label>
                            {{ form.name }}
                        </div>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-4 fv-row">
                            <label class="fs-5 fw-semibold mb-2">{{ form.site.label }}</label>
                            {{ form.site }}
                            {% if form.site.errors %}
                                <div class="text-danger mt-2">{{ form.site.errors }}</div>
                            {% endif %}
                        </div>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-4 fv-row">
                            <label class="fs-5 fw-semibold mb-2">{{ form.emplacement.label }}</label>
                            {{ form.emplacement }}
                            {% if form.emplacement.errors %}
                                <div class="text-danger mt-2">{{ form.emplacement.errors }}</div>
                            {% endif %}
                        </div>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-5 fv-row">
                            <label class="fs-5 fw-semibold mb-2">{{ form.category.label }}</label>
                            {{ form.category }}
                        </div>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-5 fv-row">
                            <label class="fs-5 fw-semibold mb-2">{{ form.criticity.label }}</label>
                            {{ form.criticity }}
                        </div>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-5 fv-row">
                            <label class="fs-5 fw-semibold mb-2">{{ form.photo.label }}</label>
                            {{ form.photo }}
                        </div>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-5 fv-row">
                            <label class="fs-5 fw-semibold mb-2">{{ form.description.label }}</label>
                            {{ form.description }}
                        </div>
                        <!--end::Input group-->
                         
                        <!--begin::Separator-->
                        <div class="separator mb-5"></div>
                        <!--end::Separator-->

                        <!--begin::Action buttons-->
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-light me-3" href="{% url 'incident_list'%}">Annuler</a>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                        <!--end::Action buttons-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Scrollable Form Container-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal - Signaler une anomalie-->

